.container-box__item--flex-row {
  display: flex;
  align-items: center;
}

.container-box__item--flex-col {
  display: flex;
  flex-direction: column;
}

/* PROFILE */
.profile__background {
  background: url('/src/img/shiroko_background.webp') center/cover no-repeat;
  padding-bottom: 25%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
}

.profile__avatar {
  position: absolute;
  bottom: calc(-165px / 2);
  left: 45px;
  display: flex;
  align-items: flex-end;
}

.profile__avatar-img {
  background: url('/src/img/shiroko_avatar.webp') center/cover no-repeat;
  height: 165px;
  width: 165px;
  border-radius: 100%;
  border: 7px solid var(--theme-color);
}

.profile__avatar-name {
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--text-color);
  padding-bottom: 50px;
  padding-left: 20px;
}

.container {
  margin-top: 120px;
}

.container-box {
  background-color: var(--theme-color);
  border-radius: 10px;
  padding: 24px;
  margin: 24px 0;
  color: var(--text-color);

}

.container-left .container-box {
  will-change: transform;
  transition: all 0.8s ease-out;
  transform: translateX(-100%);
  opacity: 0;
}

.container-right .container-box {
  will-change: transform;
  transition: all 0.8s ease-out;
  transform: translateX(100%);
  opacity: 0;
}

.container-box.active {
  transform: translateX(0);
  opacity: 1;
}

.container-box__title {
  margin-bottom: 12px;
}

.container-box__title-text {
  font-size: 3rem;
  font-weight: 600;
}

.container-box__list {
  list-style: none;
  font-size: 1.6rem;
  line-height: 20px;
}

.container-box__item {
  margin: 8px 0;
}

.container-box__item>i {
  display: inline-block;
  text-align: center;
  width: 24px;
}

.container-box__content-link {
  color: inherit;
  text-decoration: none;
}

.container-box__process--empty {
  flex: 1;
  height: 6px;
  margin: 0 4px;
  border-radius: 2.5px;
  background-color: var(--background-color);
}

.container-box__process--percent {
  height: inherit;
  width: 0;
  border-radius: 2.5px;
  opacity: 0;
  will-change: transform;
  background-color: var(--blue-color);
  transition: all 0.8s 0.8s ease-out;
}

.container-box__process--percent.active {
  opacity: 1;
  width: var(--process);
}

.container-box__project-title {
  font-size: 2rem;
  padding: 8px 0 4px;
}

.container-box__project-desc {
  margin: 12px 0;
}

.container-box__project-status-display {
  height: 40px;
  width: 100%;
  margin: auto;
  line-height: 40px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.status-display--pending {
  display: block;
  border-radius: 15px;
  background-color: #ef4444;
}

.status-display--processing {
  display: block;
  border-radius: 15px;
  background-color: #fde047;
}

.status-display--finished {
  display: block;
  border-radius: 15px;
  background-color: #4ade80;
}