$white-color: #fff;
$black-color: #000;
$blue-color: #1d6ff6;
$theme-color: #1c1c1c;
$background-color: #575757;
$text-color: #e3e3e3;
$button-color: #7c7c7c;
// Không lạm dụng cách đặt biến này trong file base có nhiều file css cùng sử dụng

.container-box__item--flex-row {
  display: flex;
  align-items: center;
}

.container-box__item--flex-col {
  display: flex;
  flex-direction: column;
}

.status-display--finished,
.status-display--pending,
.status-display--processing {
  height: 40px;
  width: 100%;
  margin: 12px 0 0;
  line-height: 40px;
  color: $white-color;
  text-align: center;
  text-transform: uppercase;
  display: block;
  border-radius: 15px;
}

.status-display--pending {
  background-color: #ef4444;
}

.status-display--processing {
  background-color: #fde047;
}

.status-display--finished {
  background-color: #4ade80;
}

.profile__banner {
  .profile__background {
    background: url('/src/img/shiroko_background.webp') center/cover no-repeat;
    padding-bottom: 25%;
    border-bottom: {
      left-radius: 20px;
      right-radius: 20px;
    }
    position: relative;

    .profile__avatar {
      position: absolute;
      bottom: calc(-165px / 2);
      left: 45px;
      display: flex;
      align-items: flex-end;

      .profile__avatar-img {
        background: url('/src/img/shiroko_avatar.webp') center/cover no-repeat;
        height: 165px;
        width: 165px;
        border-radius: 100%;
        border: 7px solid $theme-color;
      }

      .profile__avatar-name {
        font-size: 3.5rem;
        font-weight: 600;
        color: $text-color;
        padding: 0 0 50px 20px;
      }
    }
  }
}

.container {
  margin-top: 120px;

  &-box {
    will-change: transform;
    background-color: $theme-color;
    border-radius: 10px;
    padding: 24px;
    margin: 24px 0;
    color: $text-color;
    transition: all 0.8s ease-out;
    opacity: 0;
  }

  &-box.active {
    transform: translateX(0) !important;
    -webkit-transform: translateX(0) !important;
    opacity: 1 !important;
  }

  &-box__title {
    margin-bottom: 12px;

    &-text {
      font-size: 3rem;
      font-weight: 600;
    }
  }

  &-box__list {
    list-style: none;
    font-size: 1.6rem;
    line-height: 20px;

    .container-box__item {
      margin: 8px 0;

      i {
        display: inline-block;
        text-align: center;
        width: 24px;
      }

      .container-box__content.container-box__content-link {
        color: inherit;
        text-decoration: none;
      }

      .container-box__process-bar {
        flex: 1;
        height: 6px;
        margin: 0 4px;
        border-radius: 2.5px;
        background-color: $background-color;

        &--percent {
          height: inherit;
          width: 0;
          border-radius: 2.5px;
          opacity: 0;
          will-change: transform;
          background-color: $blue-color;
          transition: all 0.8s 0.8s ease-out;
        }

        &--percent.active {
          opacity: 1;
          width: var(--process); //không thể đổi
        }
      }

      .container-box__process-text {
        width: 35px;
        text-align: end;
      }

      .container-box__project-title {
        display: block;
        font-size: 2rem;
        padding: 8px 0 4px;
      }

      .container-box__project-desc {
        margin: 12px 0;

      }
    }
  }

  .container-left {
    .container-box {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
    }
  }

  .container-right {
    .container-box {
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
    }
  }
}